body {
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
  font-family: "Outfit", sans-serif;
  margin: 0;
  opacity: 0.9;
}

.logo {
  height: 50px;
  margin: 40px 100px;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  position: relative;
  height: 100%;
  max-width: 700px;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.results-title {
  font-size: 3rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.resultsP {
  font-size: 1.8rem;
}

.score-text {
  font-size: 3.5rem;
  font-weight: 300;
  margin: 0;
}

#correct-percentage,
#wrong-percentage {
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
}

#correct-answers,
#wrong-answers {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
}
#inner-text-span {
  color: #00ffff;
}

.inner-chart-text {
  position: absolute;
  font-size: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


footer {
  display: flex;
  text-align: justify;
  text-align: center;
}

.button {
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 15px 0 15px 0;
  margin-top: 15%;
  margin-left: 5%;
  width: 200px;
  text-transform: uppercase;
  text-decoration: none;
}


.clearScoresButton {
  background-color: rgba(128, 0, 128, 0.37);
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.5rem;
  background-color: #fff;
  color: #d20094;
  padding: 1rem 2rem;
  font-weight: 900;
  margin-top: 6%;
  align-self: flex-start;
  cursor: pointer;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: 0.64s ease-in-out;
}
.popup-inner {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items: center;
  max-width: 800px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  background-color: #0c113b;
  transform: rotate(32deg);
  transition: 0.64s ease-in-out;
}

#leaderBoardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
#leaderBoardContainer h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #ffffff;
}

.scoreDiv p {
  border: 10px solid #d20094;
  border-radius: 35px;
  background-color: #d20094;
  margin: 5px;
  display: inline-block;
}

#leaderBoardDiv p {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.5;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}
.closepopup {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 100%;
  background-color: #00ffff;
  z-index: 4;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}



/* .scoreDiv p{
    transform: translateY(-10%);
    animation: floater 1.5s infinite;
    transition: ease 0.5s;
    width: 80px;
    height:80px;
  }

@keyframes floater {
  0%{transform: translateY(-10%);transition: ease 0.5s;}
  50%{transform: translateY(10%);transition: ease 0.5s;}
} */

